    <!-- header -->
	<div align="center">
		<{$CATEGORIES_SELFORM}>
		<a href='<{$mod_url}>?cid=<{$calInfo.CID}>&amp;smode=Daily&amp;caldate=<{$calInfo.PREV_MONTH}>'>
			<img src='<{$mod_url}>/images/default/arrowleftleft.gif' width='18' height='14' border='0' alt='<{$smarty.const.MB_PREV_MONTH}>' title='<{$smarty.const.MB_PREV_MONTH}>' />
		</a>
		<a href='<{$mod_url}>?cid=<{$calInfo.CID}>&amp;smode=Daily&amp;caldate=<{$calInfo.PREV_DATE}>'>
			<img src='<{$mod_url}>/images/default/arrowleft.gif' width='18' height='14' border='0' alt='<{$smarty.const.MB_PREV_DATE}>' title='<{$smarty.const.MB_PREV_DATE}>' />
		</a>
		<span class='calhead'><{$calInfo.YMD_TITLE}><{$calInfo.DISP_DAY}></span>
		<a href='<{$mod_url}>?cid=<{$calInfo.CID}>&amp;smode=Daily&amp;caldate=<{$calInfo.NEXT_DATE}>'>
			<img src='<{$mod_url}>/images/default/arrowright.gif' width='18' height='14' border='0' alt='<{$smarty.const.MB_NEXT_DATE}>' title='<{$smarty.const.MB_NEXT_DATE}>' />
		</a>
		<a href='<{$mod_url}>?cid=<{$calInfo.CID}>&amp;smode=Daily&amp;caldate=<{$calInfo.NEXT_MONTH}>'>
			<img src='<{$mod_url}>/images/default/arrowrightright.gif' width='18' height='14' border='0' alt='<{$smarty.const.MB_NEXT_MONTH}>' title='<{$smarty.const.MB_NEXT_MONTH}>' />
		</a>
		<br />
		<a href='<{$mod_url}>?cid=<{$calInfo.CID}>&amp;smode=Yearly&amp;caldate=<{$calInfo.CALDATE}>'>
			<img src='<{$mod_url}>/images/default/year_on.gif' border='0' width='30' height='24' alt='<{$calInfo.ICON_YEARLY}>' title='<{$calInfo.ICON_YEARLY}>' />
		</a>
		<a href='<{$mod_url}>?cid=<{$calInfo.CID}>&amp;smode=Monthly&amp;caldate=<{$calInfo.CALDATE}>'>
			<img src='<{$mod_url}>/images/default/month_on.gif' border='0' width='30' height='24' alt='<{$calInfo.ICON_MONTHLY}>' title='<{$calInfo.ICON_MONTHLY}>' />
		</a>
		<a href='<{$mod_url}>?cid=<{$calInfo.CID}>&amp;smode=Weekly&amp;caldate=<{$calInfo.CALDATE}>'>
			<img src='<{$mod_url}>/images/default/week_on.gif' border='0' width='30' height='24' alt='<{$calInfo.ICON_WEEKLY}>' title='<{$calInfo.ICON_WEEKLY}>' />
		</a>
		<a href='<{$mod_url}>?cid=<{$calInfo.CID}>&amp;smode=List&amp;caldate=<{$calInfo.CALDATE}>'>
			<img src='<{$mod_url}>/images/default/list_on.gif' border='0' width='30' height='24' alt='<{$calInfo.ICON_LIST}>' title='<{$calInfo.ICON_LIST}>' />
		</a>
	</div>
	<ui>
	<{foreach from=$CALENDAR_BODY item=c}>
		<li>
		<{$c.time_part}>
	    <a href='?cid=<{$c.cid}>&amp;smode=Daily&amp;action=View&amp;event_id=<{$c.event_id}>&amp;caldate=<{$c.caldate}>' class='summary_class'>
	    	<{$c.summary}>
	    </a>
		<{$c.description}>
	    </li>
    <{/foreach}>
    </ui>
	<table id='calbody'>
	<{foreach from=$timeLine key=utime item=t}>
		<{if $t.active}>
		<tr class="active">
		<th><{if $t.disp eq 1}><{$utime|date_format:"%H:%M"}><{/if}>
		<a href='<{$mod_url}>?cid=<{$CID}>&amp;action=Edit&amp;caldate=<{$calInfo.CALDATE}>&amp;start_hour=<{$t.start_hour}>&amp;start_min=<{$t.start_min}>&amp;end_hour=<{$t.end_hour}>&amp;end_min=<{$t.end_min}>'>[+]</a>
		</th>
		<{else}>
		<tr class="inactive">
		<th><{if $t.disp eq 1}><{$utime|date_format:"%H:%M"}><{/if}></th>
		<{/if}>
		<{if $t.event}>
			<{foreach from=$t.event item=e}>
			<td rowspan="<{$events[$e.id].rowspan}>" class="event">
				<a href='<{$mod_url}>?cid=<{$e.cid}>&amp;smode=Daily&amp;action=View&amp;event_id=<{$e.id}>&amp;caldate=<{$e.caldate}>'>
			    <b><{$e.summary}></b>&nbsp;<{$e.description}>
				</a>
			</td>
			<{/foreach}>
			<{*
			<{assign var="curcol" value=$t.event|@count}>
			<{assign var="addcol" value=$colspan-$curcol}>
			<{if $addcol==1}>
				<td>&nbsp;</td>
			<{elseif $addcol>1}>
				<td colspan="<{$addcol}>">&nbsp;</td>
			<{/if}>
			*}>
		<{else}>
			<{*
			<td colspan="<{$colspan}>">&nbsp;</td>
			*}>
		<{/if}>
		</tr>
    <{/foreach}>
    </table>
	<br />
	<div align="center">
		<form action='<{$mod_url}>?cid=<{$calInfo.CID}>&amp;smode=Daily&amp;<{$calInfo.QUERY_STRING}>' method='post'>
		<{$calInfo.YMD_SELECTS}>
		<input type='submit' name='pical_jumpcaldate' value='<{$smarty.const._PICAL_BTN_JUMP}>'>
		&nbsp; 
		<a href='<{$mod_url}>?cid=<{$calInfo.CID}>&amp;smode=Daily'><{$smarty.const._PICAL_MB_LINKTODAY}></a>
        </form>
    	<{$calInfo.COPYRIGHT}>
    	<a href="<{$calInfo.PRINT_LINK}>" target="_blank"><img src="<{$mod_url}>/images/default/print.gif" alt="<{$calInfo.LANG_PRINT}>" title="<{$calInfo.LANG_PRINT}>" border="0" <{$calInfo.PRINT_ATTRIB}> />
    	</a>
	</div>
