/* for eguide module */
.calframe p.calhead{
    background-color: #eeeeee;
	border: solid 3px #999999;
    color: #444444;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 3em;
    margin: 15px 0 0 0;
    padding: 5px 0;
    text-align: center;
}
.calframe table{
	margin-left: auto;
	margin-right: auto;
	width:100%;
    border-spacing: 0;
}
table#calbody {
    border: solid 2px #999999;
    background-color: #fff;
    width: 100%;
}	
table#calbody th {
	background-color: #aaaaaa;
    border: solid 1px #999999;
	font-style: normal;
    text-align: center;
    width: 10%;
}
table#calbody tr.week_header {
    height: 10px;
}
table#calbody tr {
    height: 100px;
}
table#calbody_weekly tr {
    height: 40px;
}
table#calbody tr.active {
    height: 1em;
}
table#calbody tr.inactive {
    height: auto;
}
tablex#calbody th.weekday {
	color: #fff;
}
table#calbody th.sunday {
	color: #dc143c;
}
table#calbody th.saturday {
	color: #3333cd;
}
table#calbody a {
    color: #444444;
}
table#calbody td{
    color: #444444;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 1em;
    font-style: italic;
    padding: 3px;
    text-align: left;
    vertical-align: top;
    border: solid 1px #dddddd;
}
table#calbody td.event {
	background-color: LightCyan;
    border: solid 2px DodgerBlue;
}
table#calbody a {
	position:relative;
	float:left;
}
table#calbody p.holiday{
	color: red;
    font-size: .75em;
    font-style: italic;
	margin: 0;
}
table#calbody p.event{
	clear: both;
	margin: 0;
}
table#calbody .a {
	position:relative;
	float:left;
}
table#calbody a.calday_holyday {
    color: #dc143c;
    font-size: 2em;
}
table#calbody a.calday_sunday {
	position : relative;
	top: -4px;
	color: #dc143c;
    font-size: 2em;
}
table#calbody a.calday_saturday {
    color: #0000cd;
    font-size: 2em;
}
table#calbody a.calday_weekday {
    color: #444444;
    font-size: 2em;
}
table#calbody .week_index {
	position : relative;
	top: -5px;
	left: -5px;
}
table#calbody a.stencil {
	float: right;
}
table#calbody a.event {
    font-size: 1em;
    font-style: normal;
}
div#calbody_weekly {
	padding:0 0 0 10px;
    width: 100%;
}	
div#weekly_clear {
	clear: both;
}
div#calbody_weekly div#weekly_body_left{
	float: left;
    border-top: solid 1px #999;
    border-left: solid 1px #999;
    border-right: solid 1px #999;
	border-bottom: dotted 1px #999;
	text-align: center;
    height: 30px;
	width: 10%;
	color: #333;
}
div#calbody_weekly div#left_title{
	float: left;
    border-top: solid 1px #999;
    border-left: solid 1px #999;
    border-right: solid 1px #999;
	border-bottom: dotted 1px #999;
	text-align: center;
    height: 30px;
	width: 14%;
	color: #333;
}
div#calbody_weekly div#weekly_body_left_helf{
	float: left;
    border-top: none;
    border-left: solid 1px #999;
    border-right: solid 1px #999;
	border-bottom: solid 1px #999;
	text-align: center;
    height: 30px;
	width: 10%;
	color: #333;
}
div#calbody_weekly div#weekly_body div#weekly_body_close{
	background-color: #ccc;
    height: 30px;
}
div#calbody_weekly div#weekly_body_helf div#weekly_body_close{
	background-color: #ccc;
    height: 30px;
}
div#calbody_weekly div#weekly_body{
	float: left;
    border-top: solid 1px #999;
    border-left: solid 1px #999;
    border-right: solid 1px #999;
	border-bottom: dotted 1px #999;
	font-size: 0.6em;
    text-align: center;
    width: 12.5%;
    height: 30px;
	color: #333;
	position:relative;
}
div#calbody_weekly div#daily{
	float: left;
    border-top: solid 1px #999;
    border-left: solid 1px #999;
    border-right: solid 1px #999;
	border-bottom: dotted 1px #999;
	font-size: 0.6em;
    text-align: center;
    width: 82%;
    height: 30px;
	color: #333;
	position:relative;
}
div#calbody_weekly div#weekly_body_helf{
	float: left;
    border-top: none;
    border-left: solid 1px #999;
    border-right: solid 1px #999;
	border-bottom: solid 1px #999;
	font-size: 0.6em;
    text-align: center;
    width: 12.5%;
    height: 30px;
	color: #333;
	position:relative;
}
div#calbody_weekly div#weekly_body div#schedule{
	position: relative;
    margin:0px;
    margin-top:-29px;
    margin-left:27px;
}
div#calbody_weekly div#weekly_body_helf div#schedule{
	position: relative;
    margin:0px;
    margin-top:-29px;
    margin-left:27px;
}
div#calbody_weekly div#left_btn{
	position: relative;
    margin:0px;
    margin-top:-25px;
    margin-left:0px;
}
div#weekly_heder_blank {
	float: left;
    border: solid 1px #999999;
	width: 10%;
	height: 30px;
}
div#calbody_weekly div.weekday {
	float: left;
	background-color: #ccc;
    border: solid 1px #999999;
	font-size: 0.85em;
    text-align: center;
	height: 30px;
	width: 12.5%;
}

div#calbody_weekly div.weekday a{
	color: #333;
}
div#calbody_weekly div.sunday {
	float: left;
	background-color: #ccc;
    border: solid 1px #999999;
	font-size: 0.85em;
	text-align: center;
	height: 30px;
	width: 12.5%;
}
div#calbody_weekly div.sunday a{
	color: #dc143c;
}
div#calbody_weekly div.saturday {
	float: left;
	background-color: #ccc;
    border: solid 1px #999999;
	font-size: 0.85em;
	text-align: center;
	height: 30px;
	width: 12.5%;
}
div#calbody_weekly div.saturday q{
	color: #3333cd;
}


/*
** for mini calender
*/
.cal_selector{
    background-color: #eeeeee;
	border: solid 3px #999999;
    color: #444444;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 1em;
    margin: 0 0 15px;
    padding: 5px 0;
}
.minical_left{
	float:left;
}
.minical_right{
	float:right;
}
.cal_footer{
	clear: both;
	text-align: right;
}
table#minical {
    background-color: #eeeeee;
	border: solid 2px #999999;
	color: #333333;
	font-family: Georgia,"Times New Roman",Times,serif;
}
table#minical th {
    height: 2em;
}